/*ADMIN MAIN PAGE*/
body{
    font-family: "Agency FB";
    color: black !important;
    font-size: 20px;
    display: flex;
    overflow: hidden;
}
#main-window{
    overflow: auto;
    padding: 20px;

    #main-window-content{

        text-align: center;
        font-size: 40px !important;
        justify-content: center;
        align-items: center;

        img{
            margin: 15% auto auto auto;
            display: block;
        }
        #closingq{
            rotate: 180deg;
        }
    }
}
#sidebar{
    label{
        font-size: 15px;
    }
    #menu-container{
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }
    #admin-info-container{
        img{
            border: black 2px solid;
            display: inline;
        }
        #info-text{
            display: inline;
        }
        a{
            font-size: 16px;
            color: #6D6D6D;
        }
    }
    .accordion-item{
        border: black 1px solid;
        .child-accordion-item{
            border: black 1px solid;
        }
        .nav-link{
            border: black 1px solid;
            cursor: pointer !important;
        }}
}

/*MANAGE HOMEPAGE LOGO*/

#manage-home-logo{
    align-content: center;
    #picture-container{
        border: 2px black solid;
        background-color: grey;
        padding: 5px;
        width: 300px;
        height: 300px;
        margin: auto;
    }
    .input-group{
        width: 400px;
        margin: 30px auto 30px auto;
    }
    .btn-group{
        margin: 20px;
        float: right;
    }

    #specifications-container{
        text-align: center;
        img{
            margin: auto;
            display: block;
        }
    }
}
/*MANAGE ARTISTS DETAILS*/
#manage-artist-details{
    padding: 10px;

    #select-artist-container{
        width: 200px;
        margin: 20px;
    }
    .container{
        margin: 50px 20px 20px 20px;

        form{
            width: 500px;
            button{
                float: right;
            }
        }
    }}
/*VIEW ARTISTS DISCIPLINES*/
#view-disciplines{
    padding: 20px;

    #table-container {
        max-height: 300px !important;
        overflow-y: auto;
    }

    #button-container{
        float: right;
        margin: 10px;


    } }
/*MANAGE ARTISTS DISCIPLINE*/
#manage-discipline{

    .container{
        margin: 50px 20px 20px 20px;

        form{
            width: 500px;
        }
    }}
/*VIEW EVENTS*/
#view-events{

    #table-container {
        max-height: 300px !important;
        overflow-y: auto;
    }
    #button-container{
        float: right;
        margin: 10px;
    } }
/*MANAGE EVENT*/
#manageevent{

    .container{
        margin: 50px 20px 20px 20px;

        form{
            width: 500px;
        }
    }}
/*VIEW LOCATIONS*/
#view-locations{

    #table-container {
        max-height: 300px !important;
        overflow-y: auto;
    }

    #button-container{
        float: right;
        margin: 10px;
    } }
/*MANAGE LOCATION*/
#manage-location{
    width: 962px;
    height: 540px;

    .container{
        margin: 50px 20px 20px 20px;

        form{
            width: 500px;
        }
    }}
/*VIEW TYPES*/
#viewtypes{

    #table-container {
        max-height: 300px !important;
        overflow-y: auto;
    }

    #button-container{
        float: right;
        margin: 10px;
    } }
/*MANAGE TYPE*/
#managetype{
    .container{
        margin: 50px 20px 20px 20px;

        form{
            width: 500px;
        }
    }}
/*MANAGE DESCRIPTION*/
#managedescription{
    .container{
        margin: 50px 20px 20px 20px;

        form{
            width: 500px;
            button{
                float: right;
            }
        }
    }}
/*MANAGE ADMIN DETAILS*/
#manageadmindetails{

    #select-artist-container{
        width: 200px;
        margin: 20px;
    }
    #nameCol{
        text-align: center;
        padding-top: 25px;
    }
    #selectedAdminName{
        margin-top: 20px;
        font-size: 30px;
        font-weight: bold;
    }

    .container{
        margin: 50px 20px 20px 20px;
        form{
            width: 500px;
            button{
                float: right;
            }
        }
        #img-container{
            background-color: lightgrey;
            border: 2px black solid;
            padding: 5px;

            img{
                max-width: 200px !important;
                max-height: 200px !important;
            }
        }}}

/*VIEW USERS*/
#viewusers{

    #selectType{
        width: 150px;
        margin: 10px;
    }

    #table-container {
        max-height: 300px !important;
        overflow-y: auto;
    }

    #button-container{
        float: right;
        margin: 10px;
    } }
/*MANAGE USER*/
#manageuser{

    .container{
        margin: 50px 20px 20px 20px;

        form{
            width: 500px;
        }

        #img-container{
            background-color: lightgrey;
            border: 2px black solid;
            padding: 5px;

            img{
                max-width: 200px !important;
                max-height: 200px !important;
            }
        }
    }}
/*MANAGE COLLAB INFO*/
#managecollabinfo{
    #select-artist-container{
        width: 200px;
        margin: 20px;
    }
    .container{
        margin: 50px 20px 20px 20px;

        form{
            width: 500px;
            button{
                float: right;
            } } }}
/*VIEW APPLICATIONS*/
#viewapplications{
    #table-container {
        max-height: 300px !important;
        overflow-y: auto;
    }

    #button-container{
        float: right;
        margin: 10px;

    } }
/*MANAGE APPLICATION*/
#manageapplication{

    .container{
        margin: 50px 20px 20px 20px;

        form{
            width: 600px;

            button{
                margin: 10px;
                float: right;
            }
        }
    }}
/*VIEW TOPICS*/
#viewtopics{

    #table-container {
        max-height: 300px !important;
        overflow-y: auto;
    }

    #button-container{
        float: right;
        margin: 10px;
    } }
/*MANAGE TOPIC*/
#managetopic{
    .container{
        margin: 50px 20px 20px 20px;

        form{
            width: 500px;
        }
    }}
