#events-link {
    color: white !important; /* New text color on hover */
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000000 !important;
}
.selectedFilter{
    color: white !important; /* New text color on hover */
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000000 !important;
}
body{
    overflow: hidden;
}
.main-container{
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#gallery{
    width: 100%;
    height: 100%;
}

.gallery-container{
    align-items: center;
    display: flex;
    height: 75%;
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.gallery-item{
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    max-width: 350px;
    max-height: 380px;
    z-index: 0;
    border-radius: 0;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    left: 50%;
    border: black 2px solid;
}

.gallery-item,
.item-front,
.item-back{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    /*backface-visibility: hidden;*/
    color: white;

}

.item-back{
    display: none;
    background-color: black;
    position: absolute;
    translate: 50%;
    padding: 10px;

    .event-name{
        font-family: angles;
        text-transform: uppercase;
        font-size: 16px;
        display: block;
        margin-top: 5px;
    }
    .event-date {
        display: inline-block;
        font-family: "Agency FB";
    }
    .event-location{
        display: inline-block;
        font-family: "Agency FB";
    }

    .info-div {
        max-height: 210px;
        overflow-y: auto;
        padding: 5px;
    }
    .event-type{
        text-align: right;
        display: block;
        font-weight: lighter;
        font-size: 16px;
        font-family: "Agency FB";
    }
    .event-description{
        display: block;
        text-align: justify;
        margin: auto;
        width: 310px;
        font-size: 18px;
        font-family: "Agency FB";
    }
    .lineup-container{
        display: block;
        text-align: justify;
        margin: auto;
        width: 310px;
    }
    .lineup-type{
        text-align: right;
        display: block;
        font-weight: lighter;
        font-size: 18px;
        font-family: "Agency FB";
    }
    .lineup-artist{
        font-family: angles;
        font-size: 9px;
        text-transform: uppercase;
        margin-left: 1px;
        margin-right: 1px;

        img{
            margin:1px;
        }
    }
    .subtitle{
        display: block;
        text-transform: uppercase;
        font-family: angles;
        font-size: 10px;
        margin-top: 14px;
        margin-bottom: 4px;
        text-align: left;
    }
    img{
        width: 10px !important;
        height: 10px !important;
        filter: invert(100%);
    }

    .btn-div {
        justify-content: center;
        margin-bottom: 5px;
    }

    button {
        border-width: 3px;
        font-weight: bold;
        background-color: white;
        font-family: angles;
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 5px;

    }
    button:hover {
        background-color: black;
        border-color: white;
        color: white;
    }
}

.item-front{
    display: block;
    translate: 50%;
}

.gallery-item img {
    width: 100%;
    height: 100%;
}

.gallery-item-1{
    left: 15%;
    opacity: 0.2;
    transform: translateX(-50%);
    height: 360px;
}

.gallery-item-2, .gallery-item-4{
    height: 380px;
    opacity: 0.5;
    width: 380px;
    z-index: 1;
}

.gallery-item-2{
    left: 30%;
    transform: translateX(-50%);
}
.gallery-item-3{
    max-height: 430px;
    min-height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}

.gallery-item-4{
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5{
    left: 85%;
    opacity: .2;
    transform: translateX(-50%);
    height: 360px;
}
#date-filter-container{
    text-align: center;
}
#year-container{
    font-size: 16px !important;
}
#month-container{
    font-size: 14px !important;
}

#date-filter-container a{
    text-decoration: none;
    color: black;
    font-family: angles;
}
#date-filter-container a:hover{
    color: white !important; /* New text color on hover */
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000000 !important;
}
#date-filter-container img{
    width:10px;
    height: 10px;
}

::-webkit-scrollbar {
    width: 5px; /* Set width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: black; /* Color of the thumb */
    border-radius: 3px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-track {
    background-color: white; /* Color of the track */
}

::-webkit-scrollbar-thumb:hover {
    background-color: silver; /* Color of the thumb on hover */
}