@font-face {
    font-family: 'angles';
    src: url('/style/fonts/losangles-font.ttf');
}
body{
    background-color: white;
    overflow: hidden;
}
.logoHomepage {
    position: absolute;
    left: 147px;
}