@font-face {
    font-family: 'angles';
    src: url('/style/fonts/losangles-font.ttf');
}
body{
    background-color: white;
    overflow: hidden;
}
.logoHomepage {
    position: absolute;
    left: 147px;
}
@media (max-width: 1200px) {
    .nav-link {
        margin-left:  auto !important;
        margin-right: auto !important;
    }
}
@media (max-width: 768.24px) {
    .nav-link {
        /**nav bar for mobile**/
    }
}